#question {
    text-align: center;
    max-width: 350px;
    background-color: #418664;
    border-radius: 1rem 1rem;
    padding: 2rem;
}

@keyframes test {
    from {transform: translateX(500px);}
    to {transform: translateX(0px);}
}

#question h2 {
    margin-bottom: 2rem;
    width: 350px;
}

#question p {
    margin-bottom: 1rem;
}

#question button {
    border: 1px solid white;
}
