.primeira {
    background-color: #354f52;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0s;
    animation-name: test;
    animation-duration: 2s;
}

.segunda {
    background-color: #354f52;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0s;
    animation-name: test;
    animation-duration: 2s;
    animation-delay: 1s;
}

.terceira {
    background-color: #354f52;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0s;
    animation-name: test;
    animation-duration: 2s;
    animation-delay: 2s;
}

.quarta {
    background-color: #354f52;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
    animation-name: test;
    animation-duration: 2s;
    animation-delay: 3s;
}

@keyframes test {
    from {transform: translateX(50px)}
    to {transform: translateX(0px)}
}


.options:hover {
    opacity: 2;
    transform: scale(1.1);
    transition: all 0.3s;
}

#options-container .primeira p {
    margin-bottom: 0;
}

#options-container .segunda p {
    margin-bottom: 0;
}

#options-container .terceira p {
    margin-bottom: 0;
}

#options-container .quarta p {
    margin-bottom: 0;
}

.correct {
    background-color: #08fb00;
    opacity: 1;
    box-shadow: 2px 2px 5px rgb(37, 37, 37);
    font-weight: bold;
}

.correct p {
    color: black;
}

.wrong {
    background-color: rgb(192, 8, 8);
    
}